<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    
</head>

<body>
{{>navbarafter}}

        </div>
        <div class="content">
            <div>
            <h1> Transport & <br>Logistics <br>System</h1>
            <p class="par"> Students Innovation For Better Transport And Logistics<br>
                <br>
                <button class="btn" style="background-color: rgb(255, 123, 0); outline:none;"><a href="/products" class="nav-link" style="color: white" "width: 7rem";>Deliver</a></button>
            </p>
            </div>
            <div>
                <img src="../css/img/bg.jpg" alt="can't load" style="width: 50rm;">
            </div>

        </div>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>